<header>
    <div class="container flex justify-between-flex align-center">
      <a href="/" class="logo">Podacast</a>
      <nav>
        <ul class="flex align-center">
          <li><a href="/">Home</a></li>
          <li><a href="/podcast">List Of vidios</a></li>
          <%if(user && user.isAdmin) { %>
          <li><a href="/podcast/new">add vidios</a></li>
          <li>
            <a href="/podcast/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/podcast/userMedia" class="block">User Media</a>
          </li>
          <% }%> <% if(user) { %>
          <li class="relative sub-li">
            <a href=""> Hello <%= user.name %></a>
            <ul class="absolute sub-nav">
              <li>
                <a href="" class="list"><%=user.email%></a>
              </li>
              <li>
                <a href="/users/logout" class="list">logout</a>
              </li>
            </ul>
          </li>
          <%}else{ %>
          <li><a href="/users/signup">signup</a></li>
          <li><a href="/users/login">login</a></li>
          <%} %>
        </ul>
      </nav>
    </div>
  </header>