<footer>
    <div class="container">
        <ul class="flex justify-flex-center align-center">
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-github-square"></i></a></li>
        </ul>
    </div>
</footer>