<!DOCTYPE html>
<html>
  <head>
    <title>shooping card</title>
    <script
      src="https://kit.fontawesome.com/379acff5c7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("partials/header")%>
    <main>
      <section class="padding index-hero">
        <article class="container flex justify-between-flex align-center">
          <div class="hero-content flex-40">
            <h1 class="primary-heading">Welcome to Shopping Cart</h1>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim
              voluptate ex possimus dicta sapiente magnam nobis mollitia
              recusandae ullam natus veniam amet, doloribus laudantium
              necessitatibus ipsum eveniet sunt nulla nisi.
            </p>
          </div>
          <div class="font-0 flex-50">
            <img
              src="https://www.nicepng.com/png/detail/84-848148_grocery-shopping-cart-png-supermarket-shopping-cart-png.png"
              alt=""
              class="img"
            />
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
